@model IEnumerable<PRASARNET.Areas.MasterMng.Models.Stations>

@{
    ViewBag.Title = "Stations";
}



<div class="content-wrapper">

    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white rounded-top-3">
            <h2 class="mb-1">Station List</h2>
        </div>
        <div class="card-body">

            <p>
                <a asp-action="Create" class="btn btn-success float-right my-2">Add New Station</a>
            </p>
            <div class="table-responsive">


                <table id="statesTable" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Station ID</th>
                            <th>Station Name</th>
                            <th>Organization ID</th>
                            <th>Is Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.StationID</td>
                                <td>@item.StationName</td>
                                <td>@item.OrganizationID</td>
                                <td>@item.IsActive</td>
                             
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.StationID" class="btn btn-sm btn-info">Details</a>
                                    <a asp-action="Edit" asp-route-id="@item.StationID" class="btn btn-warning btn-sm">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


