@using System.Data
@model List<PRASARNET.Areas.PrasarNet.Models.Circular>

@{
    ViewData["Title"] = "Prasarnet Home";
}

<style type="text/css">
    .fixed-col {
        text-overflow: ellipsis;
        white-space: normal;
        word-wrap: break-word;
    }

    #circularDataTable td {
        text-wrap: auto !important;
        padding: 5px !important;
        font-size: 12px;
    }
</style>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Welcomee User</h3>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button">
                                @DateTime.Now.ToString("dd MMM yyyy")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 mb-2 stretch-card">
            <div class="card" style="background:#ffcd5736">
                <div class="card-body">
                    <h4 class="card-title">Today's Birthday</h4>
                    <div class="media">
                        <i class="mdi mdi-cake icon-md text-info d-flex align-self-start mr-3"></i>
                        <div class="media-body">
                            @if (ViewBag.Birthdays != null && ViewBag.Birthdays.Tables.Count > 0 && ViewBag.Birthdays.Tables[0].Rows.Count > 0)
                            {
                                foreach (DataRow row in ViewBag.Birthdays.Tables[0].Rows)
                                {
                                    <p class="card-text">
                                        <strong>@row["fullname"]</strong><br />
                                        Dept: @row["stationdetails"]<br />
                                        DOB: @Convert.ToDateTime(row["DateOfBirthChrist"]).ToString("dd MMM yyyy")
                                    </p>
                                    <hr />
                                }
                            }
                            else
                            {
                                <p class="card-text">No birthdays today.</p>
                            }
                            @* <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2 stretch-card">
            <div class="card" style="background:#5771ff36">
                <div class="card-body">
                    <h4 class="card-title">Retiring this Month</h4>
                    <div class="media">
                        <i class="mdi mdi-cake icon-md text-info d-flex align-self-start mr-3"></i>
                        <div class="media-body">
                            @if (ViewBag.Retirements != null && ViewBag.Retirements.Tables.Count > 0 && ViewBag.Retirements.Tables[0].Rows.Count > 0)
                            {
                                foreach (DataRow row in ViewBag.Retirements.Tables[0].Rows)
                                {
                                    <p class="card-text">
                                        <strong>@row["fullname"]</strong><br />
                                        Dept: @row["stationdetails"]<br />
                                        DOB: @Convert.ToDateTime(row["DateOfBirthChrist"]).ToString("dd MMM yyyy")
                                    </p>
                                    <hr />
                                }
                            }
                            else
                            {
                                <p class="card-text">No Retirements today.</p>
                            }
                            @* <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2 stretch-card">
            <div class="card" style="background:#ff40bd36">
                <div class="card-body">
                    <h4 class="card-title">Search Employee</h4>
                    <div class="media">
                        <i class="mdi mdi-account-search  icon-md text-info d-flex align-self-end mr-3"></i>
                        <div class="media-body">
                            <p class="card-text">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  stretch-card">
            <div class="card">
                <div class="card-body">
                    <p style="text-transform: capitalize; font-size: 1.125rem; font-weight: 600; border-radius: 5px;" class="card-title mb-0">What's New</p>
                    <div class="mt-1">
                        <a href="@Url.Action("AllCircular", "Dashboard")" class="btn btn-sm mb-1 mt-1 btn-success" style="text-align: right;float: inline-end;">View More</a>
                        <table id="circularDataTable" class="table table-striped table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th width="1%">#</th>
                                    <th width="10%">Uploaded By</th>
                                    <th width="55%">Title/Subject</th>
                                    <th width="15%">Category</th>
                                    <th width="15%">Dated</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    int serial = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td width="1%">@serial</td>
                                            <td width="10%" class="fixed-col">@item.UploaderName</td>
                                            <td width="55%" class="fixed-col">
                                                <span style="color:blue; font-weight:600; font-size:14px;">
                                                    <a href="@Url.Action("DownloadDocument", "Dashboard", new { docId = @item.Docid })" style="text-decoration:none;" target="_blank">@item.Doc_Title</a>
                                                </span><br />
                                                <span style="color:darkred; font-weight:600">Order-No :</span> @item.Doc_OrderNo,<br />
                                                <span style="color:darkred; font-weight:600">Uploaded On :</span> @item.Createdon.ToString("dd MMM yyyy")
                                            </td>
                                            <td width="15%" style="font-weight:600" class="fixed-col">@item.Doc_Type</td>
                                            <td width="15%" style="text-align:center;" class="fixed-col">@item.Doc_Dated.ToString("dd MMM yyyy")</td>

                                        </tr>
                                        serial++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">No circulars found.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#circularDataTable').DataTable({
                autoWidth: false,
                "bPaginate": false
            });
        });
    </script>
}
