@model PRASARNET.Areas.TRAM.Models.ApplicantDashboardViewModel
@{
    var serial = 1;
}
<link href="@Url.Content("~/css/vertical-layout-light/tram-application.css")" rel="stylesheet" />

<div class="content-wrapper p-0">
    <div class="row justify-content-center mt-3 mx-3">
        <div class="col-11 col-sm-9 col-md-7 col-lg-12 text-center p-0 mb-0">
            <div class="card px-0 pt-2 pb-0 mt-0 mx-0">
                <p class="h2 pt-2 text-primary text-center ">Transfer Application</p>
                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform" method="post">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>Basic Information</strong></li>
                                <li id="personal"><strong>Other Details</strong></li>
                                <li id="payment"><strong>Preview</strong></li>
                                <li id="confirm"><strong>Final Submit</strong></li>
                            </ul>
                            <!-- fieldsets -->
                            <fieldset id="step1">

                                <!-- === BASIC DETAILS === -->
                                <div class="form-card">
                                    <h2 class="fs-title">Account Information</h2>
                                    <input asp-for="BasicDetail[0].Name_Emp " type="hidden" />
                                    <input asp-for="BasicDetail[0].CategoryName " type="hidden" />
                                    <input asp-for="BasicDetail[0].EmployeeCode" type="hidden" />
                                    <input asp-for="BasicDetail[0].HOO_NameId" type="hidden" />
                                    <input asp-for="BasicDetail[0].ApplicationId" type="hidden" />
                                    <input asp-for="BasicDetail[0].ApplicationNo" type="hidden" />
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Name/Employee Code/Category:</label>
                                        <div class="col-sm-8">
                                            <input asp-for="BasicDetail[0].DisplayNameWithCodeAndCategory" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Date Of Birth:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].DOB" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Designation:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].DesignationName" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Contact No:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].Mobile" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">E-Mail:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].Email" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Present Place of Posting:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].PresentStationName" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Date of Joining at Present Station:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].DOJ_Present" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">No of Years served at Present Place of Posting:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].NoOfYearsServed" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Date of Super-Annuation:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].DateSuperannuation" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Is Present Place of Posting Difficult/Most Difficult:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].Tenure" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Tenure Completion Period:</label>
                                                <div class="col-sm-8">
                                                    <input value="@(Model.BasicDetail[0].TenureYear.HasValue ? Model.BasicDetail[0].TenureYear + " years" : "")" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Days Remaining to Complete Tenure:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].DaysCompletedOnTenure" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Days Exceeded after the Completion of Tenure:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].DaysExceeded" class="form-control" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label asp-for="BasicDetail[0].Language" class="col-sm-4 col-form-label">Language Known:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].Language" class="form-control" />
                                                    @*<span asp-validation-for="Language" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Application Forwarded to Whom:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].ForwardedTo" class="form-control" readonly />
                                                    <small class="form-text text-primary">*Application would be forwarded to the HOO of the Station/office/Kendra.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-card">
                                    <p class="fs-title h2 pb-2">Three Different Options Seeking for Transfer</p>
                                    <div class="row">
                                        <!-- Option 1 -->
                                        <div class="col-4">
                                            <div class="border p-3 mb-4 rounded">
                                                <h5 class="legend-title mb-3">Option 1</h5>
                                                <div class="form-group mb-3">
                                                    <label for="SelectedState1" class="fieldlabels">State:</label>
                                                    <select asp-for="BasicDetail[0].SelectedState1" asp-items="Model.BasicDetail[0].States" class="form-control">
                                                        <option value="">-- Select State --</option>
                                                    </select>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="city1" class="fieldlabels">City:</label>
                                                    <select asp-for="BasicDetail[0].SelectedCity1" class="form-control">
                                                        <option value="">-- Select City --</option>
                                                    </select>
                                                    @*<span asp-validation-for="SelectedCity1" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Option 2 -->
                                        <div class="col-4">
                                            <div class="border p-3 mb-4 rounded">
                                                <h5 class="legend-title mb-3">Option 2</h5>
                                                <div class="form-group mb-3">
                                                    <label for="SelectedState2" class="fieldlabels">State:</label>
                                                    <select asp-for="BasicDetail[0].SelectedState2" asp-items="Model.BasicDetail[0].States" class="form-control">
                                                        <option value="">-- Select State --</option>
                                                    </select>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="city2" class="fieldlabels">City:</label>
                                                    <select asp-for="BasicDetail[0].SelectedCity2" class="form-control">
                                                        <option value="">-- Select City --</option>
                                                    </select>
                                                    @*<span asp-validation-for="SelectedCity2" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Option 3 -->
                                        <div class="col-4">
                                            <div class="border p-3 mb-4 rounded">
                                                <h5 class="legend-title mb-3">Option 3</h5>
                                                <div class="form-group mb-3">
                                                    <label for="SelectedState3" class="fieldlabels">State:</label>
                                                    <select asp-for="BasicDetail[0].SelectedState3" asp-items="Model.BasicDetail[0].States" class="form-control">
                                                        <option value="">-- Select State --</option>
                                                    </select>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label for="city3" class="fieldlabels">City:</label>
                                                    <select asp-for="BasicDetail[0].SelectedCity3" class="form-control">
                                                        <option value="">-- Select City --</option>
                                                    </select>
                                                    @*<span asp-validation-for="SelectedCity3" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="BasicDetail[0].Hometown" class="col-sm-4 col-form-label">Hometown:</label>
                                                <div class="col-sm-8">
                                                    <input asp-for="BasicDetail[0].Hometown" class="form-control" />
                                                    @*<span asp-validation-for="Hometown" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label asp-for="BasicDetail[0].SelectedGroundId" class="col-sm-4 col-form-label">Ground on which Transfer Request is being Made</label>
                                                <div class="col-sm-8">
                                                    <select asp-for="BasicDetail[0].SelectedGroundId" asp-items="Model.BasicDetail[0].GroundsForTransfer" class="form-control"></select>
                                                    @*<span asp-validation-for="SelectedGroundId" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label asp-for="BasicDetail[0].Subject" class="col-sm-4 col-form-label">Subject(Atmost 200 Characters are allowed):</label>
                                                <div class="col-sm-8">
                                                    <textarea asp-for="BasicDetail[0].Subject" class="form-control" rows="4" maxlength="200"></textarea>
                                                    @*<span asp-validation-for="Subject" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label asp-for="BasicDetail[0].Details" class="col-sm-4 col-form-label">Details(Atmost 3000 Characters are allowed):</label>
                                                <div class="col-sm-8">
                                                    <textarea asp-for="BasicDetail[0].Details" class="form-control" rows="6" maxlength="3000"></textarea>
                                                    @*<span asp-validation-for="Details" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group row">
                                                <label asp-for="BasicDetail[0].MedicalFacilitiesAvailable" class="col-sm-8 col-form-label">In case of medical ground of self or family member, please specify if medical facilities are available at place of posting or not:</label>
                                                <div class="col-sm-4">
                                                    <select asp-for="BasicDetail[0].MedicalFacilitiesAvailable" asp-items="Model.BasicDetail[0].YesNoOptions" class="form-control">
                                                    </select>
                                                    @*<span asp-validation-for="MedicalFacilitiesAvailable" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label asp-for="BasicDetail[0].WantTransferBenefit" class="col-sm-6 col-form-label">Ready to forgo Transfer Benefits:</label>
                                                <div class="col-sm-6">
                                                    <select asp-for="BasicDetail[0].WantTransferBenefit" asp-items="Model.BasicDetail[0].YesNoOptions" class="form-control">
                                                    </select>
                                                    @*<span asp-validation-for="WantTransferBenefit" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Save and Next" />
                            </fieldset>

                            <!-- fieldsets -->
                            <fieldset>
                                <div class=" px-2">
                                    <div class="">

                                 
                                        <!-- === TRAINING DETAILS === -->
                                        <div>
                                            <div class="card mb-4">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <h5 class="mb-0">Training Details</h5>
                                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trainingModal">
                                                        + Add Training
                                                    </button>
                                                </div>
                                                <div id="trainingsSection">
                                                    @await Html.PartialAsync("_TrainingsPartial", Model.Trainings)
                                                </div>
                                            </div>
                                        </div>



                                        <!-- === TRANSFER HISTORY === -->
                                        <div class="card mb-4">
                                            <div class="card-header d-flex justify-content-between">
                                                <h5 class="mb-0">Transfer History</h5>
                                                <a class="btn btn-primary btn-sm" asp-controller="Transfer" asp-action="Create">+ Add Transfer</a>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Wing</th>
                                                            <th>Designation</th>
                                                            <th>From</th>
                                                            <th>To</th>
                                                            <th>Station</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.TransferHistory != null && Model.TransferHistory.Any())
                                                        {
                                                            serial = 1;
                                                            foreach (var item in Model.TransferHistory)
                                                            {
                                                                <tr>
                                                                    <td>@serial++</td>
                                                                    <td>@item.Wing</td>
                                                                    <td>@item.DesignationName</td>
                                                                    <td>@item.FromDate.ToString("dd-MM-yyyy")</td>
                                                                    <td>@item.ToDate</td>
                                                                    <td>@item.StationName</td>
                                                                    <td>
                                                                        <form method="post" asp-controller="Transfer" asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Delete this transfer?');">
                                                                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><td colspan="7" class="text-center">No transfer records found.</td></tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- === OTHER RECORDS === -->
                                        <div class="card mb-4">
                                            <div class="card-header d-flex justify-content-between">
                                                <h5 class="mb-0">Other Records</h5>
                                                <a class="btn btn-primary btn-sm" asp-controller="OtherRecord" asp-action="Create">+ Add Other Record</a>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Type</th>
                                                            <th>From</th>
                                                            <th>To</th>
                                                            <th>Place</th>
                                                            <th>Sanctioned By</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.OtherRecords != null && Model.OtherRecords.Any())
                                                        {
                                                            serial = 1;
                                                            foreach (var item in Model.OtherRecords)
                                                            {
                                                                <tr>
                                                                    <td>@serial++</td>
                                                                    <td>@item.Type</td>
                                                                    <td>@item.FromDate.ToString("dd-MM-yyyy")</td>
                                                                    <td>@(item.ToDate?.ToString("dd-MM-yyyy") ?? "-")</td>
                                                                    <td>@item.PlaceDuringAbsence</td>
                                                                    <td>@item.SanctioningAuthority</td>
                                                                    <td>
                                                                        <form method="post" asp-controller="OtherRecord" asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Delete this record?');">
                                                                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><td colspan="7" class="text-center">No other records found.</td></tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- === HEALTH CATEGORY === -->
                                        <div class="card mb-4">
                                            <div class="card-header d-flex justify-content-between">
                                                <h5 class="mb-0">Health Category</h5>
                                                <a class="btn btn-primary btn-sm" asp-controller="Health" asp-action="Create">+ Add Health Info</a>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Disability</th>
                                                            <th>Self/Family</th>
                                                            <th>Name</th>
                                                            <th>Relation</th>
                                                            <th>Age</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.HealthCategories != null && Model.HealthCategories.Any())
                                                        {
                                                            serial = 1;
                                                            foreach (var item in Model.HealthCategories)
                                                            {
                                                                <tr>
                                                                    <td>@serial++</td>
                                                                    <td>@item.TypeofDisabilityName</td>
                                                                    <td>@item.Self_Family</td>
                                                                    <td>@item.Name</td>
                                                                    <td>@item.Relation</td>
                                                                    <td>@item.Age</td>
                                                                    <td>
                                                                        <form method="post" asp-controller="Health" asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Delete this entry?');">
                                                                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><td colspan="7" class="text-center">No health records found.</td></tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!-- === UPLOADED DOCUMENTS === -->
                                        <div class="card mb-4">
                                            <div class="card-header d-flex justify-content-between">
                                                <h5 class="mb-0">Uploaded Documents</h5>
                                                <a class="btn btn-primary btn-sm" asp-controller="Documents" asp-action="Upload">+ Upload Document</a>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Type</th>
                                                            <th>Subject</th>
                                                            <th>Remarks</th>
                                                            <th>File</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.UploadedDocuments != null && Model.UploadedDocuments.Any())
                                                        {
                                                            serial = 1;
                                                            foreach (var item in Model.UploadedDocuments)
                                                            {
                                                                <tr>
                                                                    <td>@serial++</td>
                                                                    <td>@item.DocType</td>
                                                                    <td>@item.Subject</td>
                                                                    <td>@item.Remarks</td>
                                                                    <td><a href="/uploads/@item.Filename" target="_blank">View</a></td>
                                                                    <td>
                                                                        <form method="post" asp-controller="Documents" asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Delete this file?');">
                                                                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr><td colspan="6" class="text-center">No documents uploaded.</td></tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                <input type="button" name="next" class="next action-button" id="btnSaveAndNext" value="Save and Next" />
                            </fieldset>

                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title">Preview</h2>

                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                <input type="button" name="make_payment" class="next action-button" value="Confirm" />
                            </fieldset>

                            <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title text-center">Success !</h2>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3">
                                            <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image">
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Applied</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Training Modal -->
<div class="modal fade" id="trainingModal" tabindex="-1" role="dialog" aria-labelledby="trainingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="trainingForm" asp-controller="TransferApplication" asp-action="AddTraining" method="post">

                <div class="modal-header">
                    <h5 class="modal-title" id="trainingModalLabel">Add Training Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Course Name</label>
                            <input type="text" name="CourseName" class="form-control" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Host Institute</label>
                            <input type="text" name="Host_Institute" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>From Date</label>
                            <input type="date" name="FromDate" class="form-control" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>To Date</label>
                            <input type="date" name="ToDate" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Any Relevant Info</label>
                        <textarea name="AnyRelevantInfo" class="form-control"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Custom Application Script -->
    <script src="@Url.Content("~/js/tramApplication.js")"></script>
    <script>
    function loadCities(stateId, targetDropdownId, cityId1, cityId2) {
        $.ajax({
            url: '@Url.Action("GetCities", "TransferApplication", new { area = "TRAM" })',
            type: 'GET',
            data: { stateid: stateId, cityid1: cityId1, cityid2: cityId2 },
            success: function (cities) {
                var $dropdown = $('#' + targetDropdownId);
                $dropdown.empty();
                $dropdown.append($('<option>').val('').text('-- Select City --'));

                $.each(cities, function (i, city) {
                    $dropdown.append($('<option>').val(city.value).text(city.text));
                });
            }
        });
    }

        $('#BasicDetail_0__SelectedState1').change(function () {
        var stateId = $(this).val();
            loadCities(stateId, 'BasicDetail_0__SelectedCity1', $('#BasicDetail_0__SelectedCity2').val(), $('#BasicDetail_0__SelectedCity3').val());
    });

        $('#BasicDetail_0__SelectedState2').change(function () {
        var stateId = $(this).val();
            loadCities(stateId, 'BasicDetail_0__SelectedCity2', $('#BasicDetail_0__SelectedCity1').val(), $('#BasicDetail_0__SelectedCity3').val());
    });

        $('#BasicDetail_0__SelectedState3').change(function () {
        var stateId = $(this).val();
            loadCities(stateId, 'BasicDetail_0__SelectedCity3', $('#BasicDetail_0__SelectedCity1').val(), $('#BasicDetail_0__SelectedCity2').val());
    });

    $(document).ready(function () {
        if ($('#SelectedState1').val()) {
            $('#SelectedState1').trigger('change');
        }
        if ($('#BasicDetail_0__SelectedState2').val()) {
            $('#BasicDetail_0__SelectedState2').trigger('change');
        }
        if ($('#BasicDetail_0__SelectedState3').val()) {
            $('#BasicDetail_0__SelectedState3').trigger('change');
        }
    });

    </script>


    <script>
    $(document).ready(function () {
        // Submit training form via AJAX
        $('#trainingForm').on('submit', function (e) {
            e.preventDefault();

            var form = $(this);
            var formData = form.serialize();

            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: formData,
                success: function () {
                    $('#trainingModal').modal('hide'); // Close modal
                    form[0].reset(); // Reset form fields
                    reloadTrainings(); // Reload training list
                },
                error: function (xhr, status, error) {
                    alert("An error occurred while saving training.");
                    console.error(xhr.responseText);
                }
            });
        });
    });

    // Function to reload the training list via partial view
    function reloadTrainings() {
        $('#trainingsSection').html('<p class="text-info">Loading trainings...</p>'); // optional loading message

        $.ajax({
            url: '@Url.Action("GetTrainingsPartial", "TransferApplication", new { area = "TRAM" })',
            type: 'GET',
            success: function (html) {
                $('#trainingsSection').html(html);
            },
            error: function () {
                $('#trainingsSection').html('<p class="text-danger">Failed to reload trainings.</p>');
            }
        });
    }

    // Function to delete a training entry
    function deleteTraining(id) {
        if (!confirm("Are you sure you want to delete this training?")) return;

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteTraining", "TransferApplication", new { area = "TRAM" })',
            data: { id: id },
            success: function () {
                reloadTrainings(); // Refresh training list
            },
            error: function () {
                alert('Failed to delete training. Please try again.');
            }
        });
    }
    </script>


   




}
